$button-default-border-color : transparent;
$button-default-border-color-disabled : transparent;
$button-default-border-color-focus : transparent;
$button-default-border-color-focus-over : transparent;
$button-default-border-color-focus-pressed : transparent;
$button-default-border-color-over : transparent;
$button-default-border-color-pressed : transparent;

$button-default-background-color : $pink-color;
$button-default-background-color-disabled : $pink-color;
$button-default-background-color-focus : $faint-purple-color;
$button-default-background-color-focus-over : $pink-color;
$button-default-background-color-focus-pressed : $faint-purple-color;
$button-default-background-color-over : $faint-purple-color;
$button-default-background-color-pressed : $faint-purple-color;

$button-small-font-weight : 600;



$button-toolbar-border-color : transparent;
$button-toolbar-border-color-disabled : transparent;
$button-toolbar-border-color-focus : transparent;
$button-toolbar-border-color-focus-over : transparent;
$button-toolbar-border-color-focus-pressed : transparent;
$button-toolbar-border-color-over : transparent;
$button-toolbar-border-color-pressed : transparent;

$button-toolbar-background-color : $pink-color;
$button-toolbar-background-color-disabled : $pink-color;
$button-toolbar-background-color-focus : $faint-purple-color;
$button-toolbar-background-color-focus-over : $pink-color;
$button-toolbar-background-color-focus-pressed : $faint-purple-color;
$button-toolbar-background-color-over : $faint-purple-color;
$button-toolbar-background-color-pressed : $faint-purple-color;

$button-toolbar-color : white;