$base-color: #317040;
$gray-color: #efefef;
$s-dark-gray-color: #cbcbcb;
$purple-color: #643fac;
$pink-color: #ec7c9d;
$orange-color: #ffd435;
$faint-purple-color: #d5a0d5;
$cream-color: #ccb8b2;
$s-green-color: #26b774;

$s-h3-size: 14px;
$s-font-family: monospace;

$s-border-radius: 5px;

$s-field-height: 40px;